@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safemind-blue: #3B82F6;
  --safemind-green: #10B981;
  --safemind-yellow: #F59E0B;
  --safemind-red: #EF4444;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
